.chart_content {
    border-width:2px;
    border-style:solid;
    border-color:black;
    width:600px; 
    max-width:600px; 
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    overflow: hidden;
    background: left top repeat white; 
    border: 2px solid rgb(23, 162, 184);
    border-radius: 5px; 
    cursor: default; 
    position: fixed; 
    margin-bottom: 1px;

    width: 30%; 
    opacity: 1;
    padding: 3px; 
    bottom: 0;
    left:35%;

}

.spam_placeholder {
    font-size: 14px;
    color: rgb(23, 162, 184);
    font-weight: bold;
    padding-right: 10px;
}

.spam_element {
    font-size: 13px; 
    color: black; 
    padding-right: 30px;
}

.tooltip_button {
    display: block; 
    margin: 0px auto; 
    border-radius: 5px;
}