<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</head>
<body class="bg-light">
    <div class="container">
        <div class="row mt-4">
            <div  class="d-flex justify-content-center">
                <div class="col d-flex justify-content-center ">
                    <p></p>
                    <div class="badge bg-primary text-wrap" style="width: 50%;">
                        <!--Div para mensagem de boas vindas e apresentacao do projeto-->
                        <h2 class="text-xl-center">Bem Vindo!</h2>
                    </div>
                </div>
            </div>
        
            <div class="mt-4">
                <div class="col d-flex justify-content-center ">
                    <div><p></p></div> <!--Pulando linha-->
                    <form action="/generator" method="get">
                        <fieldset>
                          <legend>Gerar Gráficos / Comparar Bancos</legend>
                          <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Menu de seleção de ferramenta</label>
                            <select name="tool" id="disabledSelect" class="form-select">
                                <option>1 - Gerador de Gráficos</option>
                                <option>2 - Comparador de Dados</option>
                            </select>
                          </div>
                          <button type="submit" class="btn btn-primary">Escolher</button>
                        </fieldset>
                    </form>
                    <div><p></p></div> <!--Pulando linha-->
                </div>
            </div>
            <div class="mt-4">
                <div class="col d-flex justify-content-center " >
                    <img src="/static/gif-grafico.gif" style="width: 80%" class="rounded" alt="">
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>